{
  "extends": ["next", "next/core-web-vitals"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "react/no-unescaped-entities": "off",
    "@next/next/no-page-custom-font": "off"
    
  }
}
